.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.p-center {
  place-items: center;
}

.j-between {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.t-center {
  text-align: center;
}

.a-start {
  align-items: flex-start;
}

.j-start {
  justify-content: flex-start;
}

.a-end {
  align-items: flex-end;
}

.j-end {
  justify-content: flex-end;
}

.j-around {
  justify-content: space-around;
}

.font {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.ws_nowrap {
  white-space: nowrap;
}
