* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a,
ins {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

input,
button,
select,
option {
  border: none;
  outline: none;
  background: none;
}
