// :root {
//  --white-color: #fff;
//  --black-color: #000; 
//  --text-color : #333; 
// }

// *{
//  box-sizing: inherit;
// //  width: 1200px;
// //  margin: 0 auto;
// }
//      // base // 
// html{
//  font-size: 62,5%;
//  line-height: 1.6rem;
//  font-family: 'Roboto', sans-serif;
//  box-sizing: border-box;
// }

//      // responsive

// .grid {
//  width: 1200px;
//  max-width: 100%;
//  margin: 0 auto;
// }

// .grid__full-width{
//  width: 100%;
// }

// .grid__row {
//  display: flex;
//  flex-wrap: wrap;
// }

// body
// {    width: 1200px;
//      margin: 0px auto;
//      box-sizing: border-box;
// } 

// header
// {    width: 1200px;
//      max-width: 100%;
//      // background-color: #333;
//      height: 70px;
//      display: flex;
//      justify-content: space-between;
//      align-items: center;
     
//      .logo
//      {
//           color: black;
//      }
//      .menu
//      {    
//           ul 
//           {    margin: 0;
//                padding: 0;
//                display: flex;
//                list-style-type: none;
//                li 
//                {    padding-right: 50px;
//                     a 
//                     {
//                          text-decoration: none;
//                          color: #333;
//                     }
//                }
//           }
//      }
// }

// .banner 
// {    width: 1200px;
//      img 
//      {
//           max-width: 1200px;
//           width: 1200px;
//           margin-top: 20px;
//      }
// }

// section
// {    width: 1200px;
//      height: auto;
//      display: flex;
//      .left
//      {
//           width: 900px;
          
//           .container
//           {    margin-left: 100px;
               
//                img 
//                {
//                     width: 800px;
//                     margin-top: 20px;
//                }
               
//           }
//           .font-awesome
//           {
//                text-align: end;
               
//                i 
//                {
//                     padding: 0 5px;
//                }
//           }
          
//      }
//      .right

//      {
//           width: 300px;
//           .top
//           {    margin-left: 20px;
//                img 
//                {
//                     width: 280px;
//                     text-align: end;
//                }
//           }
//           .down
//           {

//           }
//      }
// }

// .main-column
// {    width: 1200px;
//      height: auto;
     
//      margin: 0 auto;
//      .side-bar
//      {    background-color: dimgrey;
//           .side-bar-container
//           {    
//                display: flex;
//                width: 1000px;
//                justify-content: space-between;
//                margin: 0 auto;
//                align-items: center;
               
//                span 
//                {
//                     flex-basis: 30%;
//                     // padding: 12px 16px;
//                }
//           }
//      }
//      .comment
//      {    
//           height: auto;
//           .comment-container
//           {
//                width: 1000px;
//                margin: 0 auto;
//                .comment1-container
//                {    width: 1000px;
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;
//                    .avatar
//                    {     width: 200px;
//                         img 
//                         {
//                               width: 150px;
//                               height: 150px;
//                               border: solid black 2px;
//                               border-radius: 50%;
//                         }
//                    }
//                    .content-comment
//                    {
//                     width: 800px;
//                    }
//                }
//                .reply-container
//                {    width: 1000px;
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;
//                     .ava-reply
//                     {    width: 200px;
//                          img 
//                          {
//                               width: 150px;
//                               height: 150px;
//                               border: solid black 2px;
//                               border-radius: 50%;
//                          }
//                     }
//                     .input
//                     {    width: 800px;
//                          input 
//                          {
//                               border: solid black 2px;
//                               width: 700px;
//                               height: 150px;
//                               padding-left: 20px;
//                               border-radius: 10px;
//                          }
//                     }
//                }
//                .connected
//                {
//                     text-align: end;
//                     display: flex;
//                     align-items: center;
//                     justify-content: flex-end;
//                     p 
//                     {
//                          padding-right: 20px;
//                     }
//                     i 
//                     {
//                          padding: 0 5px;
//                     }
//                }
//           } 


//      }
// }

// footer
// {    width: 1200px;
//      height: 70px;
//      background-color: dimgrey;
//      display: flex;
//      justify-content: space-around;
//      align-items: center;
//      .para
//      {
//           ul 
//           {    margin: 0;
//                padding: 0;
//                display: flex;
//                list-style-type: none;
//                li 
//                {    padding: 0 5px;
//                     a 
//                     {
//                          text-decoration: none;
//                          color: black;
//                     }
//                }
//           }
//      }
//      .font 
//      {
//           i 
//           {
//                padding: 0 5px;
//           }
//      }
// }



.container
{    display: flex;
     width: 100%;
     
     .menu
     {
          ul 
          {
               li 
               {

               }
          }
     }
}